li {
    display: inline;
    position: absolute;

  }
  body{
    font-size:0.9em;
    font-family: Arial;
  }
  #About{
    position: absolute;
    top:2rem; 
   left:2rem;
  }
  
  li:hover{
    text-decoration: underline;
  }
  #Store{
    position: absolute;
    top:2rem; 
   left:5rem;
  }
  #test{
    position: relative;
    margin: 100px;
  }
  img{
    position: absolute;
     top:13rem; 
    left:50rem;
  }
  form{
    position: absolute;
    top:19rem; 
    left:42rem;
  }
  #gmail{
    position: absolute;
    top:2rem; 
    left:107rem;
  }
  #images{
    position: absolute;
    top:2rem; 
    left:110rem;

  }
  #accounticon{
    border-radius: 50%;
    top:0.8rem; 
    left:116rem;
    width: 46px;
    height: 46px;
  }
  #appsicon{
  
    top:0.8rem; 
    left:112rem;
  
   
  }
  input{
   
    border-width: 0.04rem;
  }
  #searchbar{

    height : 3rem;
    width : 44rem;
    border-radius: 200px;
    border-width: 1px;
    
    
  }
#lucky{
  position: absolute;
  top:4rem; 
  left:22rem;
  height: 3em;
  width:10em;
  font-size: 0.9rem;
  background-color: #EDEDED;
  border-radius: 1.2px;
  border-width: 0px;
}
#googlesearch{
  position: absolute;
  top:4rem; 
  left:12rem;
  height: 3em;
  width:10em;
  font-size: 0.9rem;
  border-radius: 1.2px;
  border-width: 0px;
  background-color: #EDEDED;

}
#appsicon{
  top:1.6rem; 
  left:113.5rem;
  
}
  #microphone{
    position: absolute;
    top:19.5em; 
    left:76em;
    
  }
  